services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: grinch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  grinch:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: grinch
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
