services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: grinch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  grinch:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: grinch
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
