---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint

on:
  push:
  pull_request:

jobs:
  backend:
    name: Backend Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          check-latest: true
          cache-dependency-path: backend/go.sum
          go-version-file: backend/go.mod

      - name: Install Dependencies
        run: go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest

      - name: Generate
        run: go generate ./...

      - name: Run Go linter
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          working-directory: backend

  frontend:
    name: Frontend Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: frontend/package.json

      - name: Install Dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
